[mysqld]
# 일반 쿼리 로그 (모든 쿼리 기록 - 트래픽 많아지면 끄는 걸 권장)
general_log = 0
general_log_file = /var/log/mysql/general.log

# 에러 로그
log_error = /var/log/mysql/error.log

# 슬로우 쿼리 로그 (1초 이상 걸리는 쿼리 기록 - 이건 켜두는 걸 추천)
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 1
